.teaching-wrapper {
    height: 100vh;
}

.teaching-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teaching-text-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 6vw;
    text-align: left;
    height: 40%;
}

.teaching-header-text {
    display: flex;
    color: #884954;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.teaching-thoughts-text-wrapper {
    display: flex;
    padding-left: 6vw;
    flex-direction: row;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
}

.teaching-medium-link {
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.teaching-experience-header {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    padding-bottom: .5vh;
    align-items: baseline;
  }
  
  .teaching-resources-text-wrapper {
    display: flex;
    font-size: 22px;
  }
  
  .teaching-resources-text {
    display: flex;
    padding-left: 4px;
    font-size: 18px;
  }
  
  .teaching-materials-link {
    text-decoration: underline;
    padding-left: 4px;
    font-size: 18px;
    color: #000;
  }
  
  .teaching-experience-body {
    margin-left: 25px; 
  }
  
