.preview-wrapper {
    display: flex;
    height: 12vh;
    border-top: 1px solid black;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-left: 1vw;
    font-family: 'Raleway', sans-serif;
}

.preview-img {
    display: flex;
    height: 8vh;
    width: 8vh;
    align-self: center;
}

.preview-wrapper-left {
    display: flex;
    flex-direction: row;
}
.preview-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3vw;
    align-self: center;
}
.preview-title {
    display: flex;
    font-size: 20px;
    font-weight: 540;
    padding-bottom: 3px;
}

.preview-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: 3vw;
}
