.elsewhere-wrapper {
    display: flex;
    height: 9vh;
    width: 10vw;
    align-items: flex-start;
    flex-direction: column;
    position: fixed; /* Set the position to fixed */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    color: #8D411F;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: 400;
    backdrop-filter: blur(10px);
    z-index: 101;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.elsewhere-icons {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    width: 70%; /* Adjust as needed based on the number of icons */
    cursor: pointer;
  }
  
  .elsewhere-icons img {
    width: 28px; /* Adjust the size of the icons */
    margin-right: 10px; /* Add spacing between icons */
  }

  .elsewhere {
    display: flex;
    font-weight: 600;
    padding-top: 2px
  }