/* NavBar.css */


.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    z-index: 100; /* Set a z-index to ensure the navbar appears above other elements */
  }
  
  .nav-button {
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.50);
    padding: 6px;
    width: 7vw;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: text-decoration 0.3s ease;
  }
  
  .nav-button:hover {
    text-decoration: underline;
  }
  
  .nav-button.active {
    text-decoration: underline;
  }
  